:root {
  /* --primary: #FF6A6A; */
  --primary: hwb(0 42% 0%);
  --primary-light: hwb(0 42% 0% / 0.25);
  --text-dark: #212131;
  --text-gray: #797986;
  --max-width: 600px;
  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Barlow Condensed", "Encode Sans Condensed", "Roboto Condensed", Roboto, Inter, system-ui, sans-serif; */
  font-family: "Barlow Condensed", "Roboto Condensed", Roboto, Inter, system-ui, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  background-color: #f5f5f5;
}

/* Renk sınıfları */
/* .red {color: #D10000;} */
.red {color: crimson;}
.green {color: #1AB800;}
.magenta {color: #D1008A;}
.orange {color: #ff7322;}



.blockquote {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, ;
  font-size: 0.8rem;
  width: 100%; /* Tam genişlik kullanarak başka içeriklerle aynı satırda görünmesini engeller */
  text-align: center; /* Metni ortalar */
  margin: 0.5rem 0; /* Üst ve alttan boşluk ekler */
  /* opacity: 0.5; */
  /* font-style: italic; */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  /* display: flex;
  place-items: center; */
  margin: 0 auto;
  min-width: 200px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Temel düğme */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  /* font-size: 1em; */
  /* font-weight: 500; */
  color: white;
  border: none;
  border-radius: 8px;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 4px 12px;
  -webkit-tap-highlight-color: transparent;
  /* font-family: inherit; */
}

button:hover {
  border: 1px solid var(--primary);

}

button:focus-visible {
  /* İsteğe bağlı olarak kendi focus stilimizi ekleyebiliriz */
  box-shadow: 0 0 0 2px var(--primary-light);
}

.dua-btn {
  width: min(100%, 200px);
  color: var(--primary);
  /* background-color: white; */
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 6px 16px;
  padding: 0.5rem;
  margin-bottom: 12px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
 
.dua-btn:hover {
  filter: drop-shadow(0 4px 1em hwb(0 42% 0% / 0.5));
}

.card {padding: 2em;}

#app {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


/* Temel Metin Konteyneri Stilleri */
.flex-container {
  display: flex;
  /* Dikey yönlendirme */
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;     /* Yatayda ortala */
  width: 100%;
  gap: 0.25rem;
  /* padding: 0.25rem; */
  box-sizing: border-box; /* Padding'in genişliğe dahil edilmesi */
}

.flex-container span {
  text-align: center;     /* Span içindeki metni ortala */
  max-width: 100%;        /* Taşmayı engelle */
  padding: 0.2rem 0;      /* Satırlar arası mesafe */
}

/* Arapça Metin Stilleri */
.arabic {
  direction: rtl;
  font-family: "Scheherazade New", Emine, serif;
  font-display: swap; /* Font yüklenene kadar yedek font kullanır */
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  /* margin: 0px 8px; */
}

/* Latin metin ayarları */
.latin {
  direction: ltr;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.0;
  /* margin-left: 2px; */
}



/* Besmele özel stili */
.besmele {
  color: var(--primary);
  text-align: center;
  margin-bottom: 1rem;
}

/* Metin parçacıkları için temel stil */
.text-segment {
  white-space: nowrap;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  text-align: center;
}

/* Not metinleri için stil */
.text-note {
  font-size: 0.9rem;
  opacity: 0.75;
  margin-top: 0.5rem;
}

.icon {
  color: var(--primary);
}

/* Ayna görüntüsü için yardımcı sınıf */
.mirror {
  transform: scaleX(-1);
  display: inline-block;
}

.divider {
  width: 70%;
  margin: 1rem auto;
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.info-text {
  color: var(--text-gray);
  font-size: 0.8em;
  font-style: italic;
  margin-left: 4px;
}