/* src/ziya.css */
/* Light theme (default) */
:root {
  /* Brand Colors */
  /* #1F6666 */
  /* --primary-dark: #F35E5E;  */
  /* --primary: #FFA552; */
  --primary: hwb(29 30% 4%); /* #ff6b6b */
  --primary-dark: hwb(29 30% 11%); /* #ff6b6b */
  --primary-light: hwb(29 30% 0% / 0.25);
  --primary-lighter: hwb(29 30% 0% / 0.1);

  /* Theme Colors */
  --background: #ffffff;
  --surface: #f8f8f8;
  --surface-variant: #f0f0f0;
  
  /* Text Colors */
  --text-primary: #30323D;
  --text-secondary: #666666;
  --text-tertiary: #888888;
  --text-emphasis: #FFA552;

  /* Component Colors */
  --card-background: #ffffff;
  /* --card-border: 2px solid rgba(1, 121, 111, 0.9); */
  --card-border: 1px solid var(--primary);
  --card-shadow: 0 4px 12px hsl(0, 0%, 90%);
  
  /* Interactive Elements */
  --hover-background: var(--primary-light);
  --active-state: var(--primary);
  
  /* Dividers & Borders */
  --divider: rgba(0, 0, 0, 0.08);
  --border: rgba(0, 0, 0, 0.12);

  /* Renk sınıfları */
  /* .red {color: #D10000;} */
  .primary {color: var(--primary);}
  .red {color: crimson;}
  .green {color: #1AB800;}
  .magenta {color: #D1008A;}
  .orange {color: #ff7322;}
  .yellow-dark {color: saffron;}
  .blue {color: MediumSlateBlue;}
}

/* Dark theme */
[data-theme="dark"] {
  /* Brand Colors - Aynı kalıyor */
  --primary: hwb(29 30% 0%); /* #ff6b6b */
  --primary-dark: hwb(0 33% 11%); /* #ff6b6b */
  --primary-light: hwb(0 50% 10% / 0.25);
  --primary-lighter: hwb(0 50% 10% / 0.05);
  
  /* Theme Colors */
  --background: #121212;
  --surface: #1e1e1e;
  --surface-variant: #2c2c2c;
  
  /* Text Colors */
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --text-tertiary: #888888;
  --text-emphasis: #FFA552;
  
  /* Component Colors */
  --card-background: #1e1e1e;
  --card-background: #1B1818;
  --card-background: #1B191F;
  --card-background: #181920;
  --card-border: 1px solid var(--primary-light);
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  
  /* Interactive Elements */
  --hover-background: rgba(255, 255, 255, 0.05);
  --active-state: var(--primary);
  
  /* Dividers & Borders */
  --divider: rgba(255, 255, 255, 0.08);
  --border: rgba(255, 255, 255, 0.12);

  /* Renk sınıfları */
  /* .red {color: #D10000;} */
  .primary {color: var(--primary);}
  .red {color: #FFA552;}
  .green {color: #1AB800;}
  .green-wonderfull{color: hwb(175 0% 53%);}
  .magenta {color: #D1008A;}
  .orange {color: #ff7322;}
  .gold {color: gold;}
  .blue {color: MediumSlateBlue;}
}
