/* src/style.css */
:root {
    --primary: hwb(0 42% 0%); /* ff6b6b */
    --primary-light: hwb(0 42% 0% / 0.25);
    --primary-light-more: hwb(0 42% 0% / 0.1);
    /* --text-dark: #212131; */
    --text-dark: #032535;
    --text-gray: hsl(0, 0%, 50%);
    --latin-size: 1.1rem;
    --latin-height: calc(var(--latin-size) * 1.2);
    --arabic-size: 1.4rem;
    --arabic-height: calc(var(--arabic-size) * 1.6);
    --font-family: "Barlow Condensed", "Roboto Condensed", Roboto, Inter, system-ui, sans-serif;
    --content-width: min(600px, 90%);
    --max-width: clamp(16rem, 38rem, 42rem);
    --full-width: 100%;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}
  
  
body, button, input, textarea, select {
    font-family: var(--font-family)
}
/*font-family: inherit;  çevreden miras al demek */

body {
    margin: 0 auto;
    min-width: 200px;
    min-height: 100vh;
    color: var(--text-dark);
    overflow-x: hidden;
    /* yatay kaydırmayı engelle */
}


#app {
    /* min-width: 16rem; */
    /* max-width: var(--max-width); */
    /* --max-width: clamp(16rem, 38rem, 800px); */
    /* margin: 0 auto; */
    padding: 0;
    text-align: center;
}



button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.buton {
    /* flex: 1; */
    /* width: 100%; */
    text-decoration: none;
    height: 2.25rem;
    color: var(--primary);
    background-color: white;
    border: 1px solid var(--primary-light);
    border-radius: 8px;
    padding: 6px 16px;
    margin-bottom: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.buton:hover {
    filter: drop-shadow(0 4px 0.5rem hwb(0 42% 0% / 0.3));
    border: 1px solid var(--primary);
}

.buton.active {
    background: var(--primary);
    color: white;
}


.counter-button {
    min-width: 4rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0 0 0 1rem;
    background: var(--primary-light);
    cursor: pointer;
    user-select: none;
}
  
.counter-button:hover {
    border-color: var(--primary);
}

.flex-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.4rem;
    /* margin: 0.2rem 0; */
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.arabic {
    direction: rtl;
    /* font-family: Emine, "Scheherazade New", serif; */
    font-family: "Emine", "Scheherazade New", "Amiri", "Noto Naskh Arabic", serif !important;
    font-size: var(--arabic-size);
    line-height: var(--arabic-height);
    /* padding: 0px 0.2rem; */
    text-align: center;
}

.latin {
    direction: ltr;
    font-size: var(--latin-size);
    line-height: var(--latin-height);
    /* padding: 0px 0.2rem; */
    text-align: center;
}

.info-text {
    /* background-color: var(--primary-light-more); */
    /* padding: .25rem; */
    color: var(--text-gray);
    font-size: 0.9rem;
    font-style: italic;
}

.info-container {
    /* padding: 0.25rem; */
    text-align: left;
  }

.info-link {
    color: var(--primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 0.3rem;
}

.besmele {
    color: var(--primary);
    /* margin-bottom: 0.2rem; */
}

.divider {
    width: 80%;
    margin: 0.5rem auto;
    border: none;
    border-bottom: 1px solid var(--text-gray);
}

.divider-line {
    position: relative;
    text-align: center;
    color: var(--text-gray);
    font-style: italic;
    font-size: 0.9em;
    margin: 0.25rem 0;
    border-bottom: 1px solid var(--text-gray);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 0.5rem;
}

/* Renk sınıfları */
/* .red {color: #D10000;} */
.primary {color: var(--primary);}
.red {color: crimson;}
.green {color: #1AB800;}
.magenta {color: #D1008A;}
.orange {color: #ff7322;}
.blue {color: MediumSlateBlue;}

.icon {color: var(--primary);}
.mirror {
    transform: scaleX(-1);
    display: inline-block;
}


.shadows {
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),0 8px 16px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),0 2px 2px rgba(0, 0, 0, 0.05),0 4px 4px rgba(0, 0, 0, 0.05),0 8px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02),0 4px 12px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04),0 4px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    box-shadow: 0px -6px 9px -8px rgba(0, 0, 0, 0.45), 0px 6px 9px -8px rgba(0, 0, 0, 0.45);
  }
  