/* src/style.css */
:root {
    /* Ortak değişkenler */
    --latin-size: 1.1rem;
    --latin-height: calc(var(--latin-size) * 1.2);
    --arabic-size: 1.4rem;
    --arabic-height: calc(var(--arabic-size) * 1.6);
    --info-text-size: 0.9rem;
    --button-text-size: 0.9rem;
    --font-family: "Barlow Condensed", "Roboto Condensed", Roboto, Inter, system-ui, sans-serif;
    --arabic-font-family: "Emine", "Scheherazade New", "Amiri", "Noto Naskh Arabic", serif;
    --content-width: min(600px, 100%);
    --max-width: clamp(16rem, 38rem, 42rem);
    --full-width: 100%;

    --error-color: #dc3545;
    --error-color-dark: #c82333;
    --red: #FF6666;
    --red: crimson;
    --green: #1AB800;
    --green-wonderfull: hwb(175 0% 53%);
    --magenta: #D1008A;
    --orange: #ff7322;
    --yellow-dark: #FFA552;
    --blue: MediumSlateBlue;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}
  
  
body, button, input, textarea, select {
    font-family: var(--font-family);
    font-weight: 400;
}
/*font-family: inherit;  çevreden miras al demek */
  
h1 { font-size: 1.5rem; font-weight: normal; color: var(--primary); border-bottom: 1px solid var(--primary-light);}
h2 { font-size: 1.3rem; font-weight: normal; color: var(--primary); border-bottom: 1px solid var(--primary-light);}
h3 { font-size: 1.2rem; font-weight: normal; color: var(--primary); border-bottom: 1px solid var(--primary-light);}
h4 { font-size: 1.1rem; font-weight: normal; color: var(--primary); border-bottom: 1px solid var(--primary-light);}
h4 { font-size: 1.0rem; font-weight: normal; color: var(--primary); border-bottom: 1px solid var(--primary-light);}


body {
    margin: 0 auto;
    min-width: 200px;
    min-height: 100vh;
    color: var(--text-primary);
    overflow-x: hidden;
    /* yatay kaydırmayı engelle */
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: var(--button-text-size);
    font-weight: 500;
}

.buton {
    /* flex: 1; */
    /* width: 100%; */
    text-decoration: none;
    height: 2.25rem;
    color: var(--primary);
    background-color: var(--primary-lighter);
    border: 1px solid var(--primary-light);
    border-radius: 8px;
    padding: 6px 16px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    font-size: var(--button-text-size);
}

.buton:hover {
    filter: drop-shadow(0 4px 0.5rem hwb(0 42% 0% / 0.3));
    border: 1px solid var(--primary);
}

.buton.active {
    background: var(--primary);
    color: white;
}
  

.counter-button {
    min-width: 4rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0 0 0 1rem;
    background: var(--primary-light);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation; /* Sadece sayaç butonu için hızlı tıklama yakınlaştırmasını engeller */
}
  
.counter-button:hover {
    border-color: var(--primary);
}

.flex-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 0.4rem;
    /* margin: 0.2rem 0; */
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.arabic {
    direction: rtl;
    font-family: var(--arabic-font-family);
    font-size: var(--arabic-size);
    line-height: var(--arabic-height);
    /* padding: 0px 0.2rem; */
    text-align: center;
}

.latin {
    direction: ltr;
    font-family: var(--font-family);
    font-size: var(--latin-size);
    line-height: var(--latin-height);
    /* padding: 0px 0.2rem; */
    text-align: center;
    
}


.info-text {
    /* background-color: var(--primary-light-more); */
    /* padding: .25rem; */
    color: var(--text-secondary);
    font-size: var(--info-text-size);
    font-style: italic;
}

.info-container {
    /* padding: 0.25rem; */
    text-align: left;
}

.info-link {
    color: var(--primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 0.3rem;
}


.divider {
    width: 80%;
    margin: 0.5rem auto;
    border: none;
    border-bottom: 1px solid var(--text-secondary);
}

.divider-line {
    position: relative;
    text-align: center;
    color: var(--text-secondary);
    font-style: italic;
    font-size: 0.9rem;
    margin: 0.25rem 0;
    border-bottom: 1px solid var(--text-secondary);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 0.5rem;
}

.icon {color: var(--primary);}
.mirror {
    transform: scaleX(-1);
    display: inline-block;
}


/* Color classes */
.besmele {color: var(--primary);}
.emphasis {color: var(--text-emphasis);}

.gold { color: gold; }
.primary { color: var(--primary); }
.red { color: var(--red); }
.green { color: var(--green); }
.green-wonderfull { color: var(--green-wonderfull); }
.magenta { color: var(--magenta); }
.orange { color: var(--orange); }
.blue { color: var(--blue); }
.gold { color: var(--gold); }
